# Stage 2 :- Data Cleaning

In [21]:
import tweepy
import webbrowser
from datetime import datetime
import pandas as pd
start_time=datetime.now()

In [2]:
with open('stage1.json') as f:
    data=json.load(f)

In [3]:
df=pd.DataFrame(data)

In [4]:
df.head()

,id,id_str,full_text,source,source_url,retweet_count,favorite_count,lang,quoted_status_id,quoted_status_id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name
0,1469962406470336516,1469962406470336516,In a world gone mad #Marr is criticising @Keir...,Twitter for iPad,http://twitter.com/#!/download/ipad,2590,15955,en,NaN,None,NaN,None,NaN,None,None
1,1469975237894803457,1469975237894803457,Doctors &amp; nurses in UK ðŸ‡¬ðŸ‡§ are too traumati...,Twitter for iPhone,http://twitter.com/download/iphone,1851,4315,en,NaN,None,NaN,None,NaN,None,None
2,1469726461456269315,1469726461456269315,"EXCLUSIVE: Nigerian Government To Place UK, Ca...",Twitter for Android,http://twitter.com/download/android,899,1896,en,NaN,None,NaN,None,NaN,None,None
3,1470355047854845959,1470355047854845959,"RT @ProtestNews_EN: #France, #Montauban \nChao...",Twitter for iPhone,http://twitter.com/download/iphone,35,0,en,NaN,None,NaN,None,NaN,None,None
4,1470355036886781955,1470355036886781955,RT @ellymelly: Hospitals exist as a service fo...,Twitter for Mac,http://itunes.apple.com/us/app/twitter/id40978...,326,0,en,NaN,None,NaN,None,NaN,None,None

In [5]:
df.tail()

,id,id_str,full_text,source,source_url,retweet_count,favorite_count,lang,quoted_status_id,quoted_status_id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name
95,1470354649785974788,1470354649785974788,RT @NeilMullens: #COVID19: Home testing kits h...,Twitter for iPhone,http://twitter.com/download/iphone,1,0,en,NaN,None,NaN,None,NaN,None,None
96,1470354635672068103,1470354635672068103,RT @CMO_Odisha: Appreciation for @AIFoundation...,Twitter for Android,http://twitter.com/download/android,37,0,en,1.469984e+18,1469983789052952576,NaN,None,NaN,None,None
97,1470354632895459329,1470354632895459329,RT @IndiaToday: Actress Kareena Kapoor Khan &a...,Twitter Web App,https://mobile.twitter.com,8,0,en,NaN,None,NaN,None,NaN,None,None
98,1470354621772169217,1470354621772169217,"RT @Covid19Place: Malaysia: Mon, 13 Dec - Covi...",Twitter for Android,http://twitter.com/download/android,32,0,en,NaN,None,NaN,None,NaN,None,None
99,1470354620769730562,1470354620769730562,RT @sanjeevchadha8: @PMOIndia @HMOIndia @Delhi...,Twitter for Android,http://twitter.com/download/android,64,0,en,1.470250e+18,1470249621196845057,NaN,None,NaN,None,None

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         100 non-null    int64
 1   id_str                     100 non-null    object
 2   full_text                  100 non-null    object
 3   source                     100 non-null    object
 4   source_url                 100 non-null    object
 5   retweet_count              100 non-null    int64
 6   favorite_count             100 non-null    int64
 7   lang                       100 non-null    object
 8   quoted_status_id           7 non-null      float64
 9   quoted_status_id_str       7 non-null      object
 10  in_reply_to_status_id      6 non-null      float64
 11  in_reply_to_status_id_str  6 non-null      object
 12  in_reply_to_user_id        6 non-null      float64
 13  in_reply_to_user_id_str    6 non-null      object
 14  in_reply_to_screen_name    6 non-null      object
dtypes: float64(3), int64(3), object(9)
memory usage: 12.5+ KB

In [7]:
df.describe()

,id,retweet_count,favorite_count,quoted_status_id,in_reply_to_status_id,in_reply_to_user_id
count,1.000000e+02,100.000000,100.000000,7.000000e+00,6.000000e+00,6.000000e+00
mean,1.470341e+18,182.250000,221.670000,1.470159e+18,1.470326e+18,3.584328e+17
std,8.246867e+13,451.598516,1657.131232,1.011184e+14,5.820136e+13,5.582900e+17
min,1.469726e+18,0.000000,0.000000,1.469984e+18,1.470208e+18,8.257875e+07
25%,1.470355e+18,2.000000,0.000000,1.470111e+18,1.470342e+18,5.301602e+08
50%,1.470355e+18,12.500000,0.000000,1.470160e+18,1.470352e+18,1.924476e+09
75%,1.470355e+18,107.250000,0.000000,1.470232e+18,1.470353e+18,7.378376e+17
max,1.470355e+18,2590.000000,15955.000000,1.470279e+18,1.470354e+18,1.166813e+18

In [8]:
df.columns

Index(['id', 'id_str', 'full_text', 'source', 'source_url', 'retweet_count',
       'favorite_count', 'lang', 'quoted_status_id', 'quoted_status_id_str',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name'],
      dtype='object')

In [9]:
#drop columns
df=df.drop(['quoted_status_id','quoted_status_id_str','in_reply_to_status_id','in_reply_to_status_id_str'
         ,'in_reply_to_user_id','in_reply_to_user_id_str','in_reply_to_screen_name'],axis = 1)
df.head()

,id,id_str,full_text,source,source_url,retweet_count,favorite_count,lang
0,1469962406470336516,1469962406470336516,In a world gone mad #Marr is criticising @Keir...,Twitter for iPad,http://twitter.com/#!/download/ipad,2590,15955,en
1,1469975237894803457,1469975237894803457,Doctors &amp; nurses in UK ðŸ‡¬ðŸ‡§ are too traumati...,Twitter for iPhone,http://twitter.com/download/iphone,1851,4315,en
2,1469726461456269315,1469726461456269315,"EXCLUSIVE: Nigerian Government To Place UK, Ca...",Twitter for Android,http://twitter.com/download/android,899,1896,en
3,1470355047854845959,1470355047854845959,"RT @ProtestNews_EN: #France, #Montauban \nChao...",Twitter for iPhone,http://twitter.com/download/iphone,35,0,en
4,1470355036886781955,1470355036886781955,RT @ellymelly: Hospitals exist as a service fo...,Twitter for Mac,http://itunes.apple.com/us/app/twitter/id40978...,326,0,en

In [10]:
pip install emoji --upgrade

Requirement already satisfied: emoji in c:\users\dell\anaconda3\lib\site-packages (1.6.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
#clean_text
import re
import numpy as np
import string
import emoji
def clean_text(text):
    text = str(text).lower()
    text = re.sub(r'@[A-Za-z0-9]+','',text)
    text = re.sub(r'#','',text)
    text = re.sub(r'RT[\s]+','',text)
    text = re.sub(r'rt[\s]+','',text)
    text = re.sub(r'https?:\/\/\S+','',text)
    text = re.sub(r'[0-9]','',text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = emoji.get_emoji_regexp().sub("",text)
    
    return text

In [12]:
df['full_text']=df['full_text'].apply(clean_text)
print(df['full_text'])

0     in a world gone mad marr is criticising starme...
1     doctors amp nurses in uk  are too traumatized ...
2     exclusive nigerian government to place uk cana...
3     en france montauban \nchaos at montauban angry...
4      hospitals exist as a service for all citizens...
                            ...
95     covid home testing kits have run out on gover...
96    odisha appreciation for   and admin for settin...
97     actress kareena kapoor khan amp amrita arora ...
98     malaysia mon  dec  covid update\n\nlive updat...
99        where is maulanasaad of tablighijamaat  wh...
Name: full_text, Length: 100, dtype: object

In [13]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')
#exclude stopwords
df['full_text'] = df['full_text'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop]))
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [15]:
df['full_text'].head()

0    world gone mad marr criticising starmer suppor...
1    doctors amp nurses uk traumatized refusing red...
2    exclusive nigerian government place uk canada ...
3    en france montauban chaos montauban angry farm...
4    hospitals exist service citizens reward good b...
Name: full_text, dtype: object

In [16]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [17]:
#lemmatization
w_tokenizer=nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def Lemmatize_text(text):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

df['full_text_lemmatiz']=df['full_text'].apply(Lemmatize_text)

In [18]:
df['full_text_lemmatiz'].head()

0    [world, gone, mad, marr, criticising, starmer,...
1    [doctor, amp, nurse, uk, traumatized, refusing...
2    [exclusive, nigerian, government, place, uk, c...
3    [en, france, montauban, chaos, montauban, angr...
4    [hospital, exist, service, citizen, reward, go...
Name: full_text_lemmatiz, dtype: object

In [19]:
end_time=datetime.now()
print('Duration: {}'.format(end_time-start_time))

Duration: 0:00:33.111224

In [20]:
df.to_json('stage2.json')